[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GGIR"]
	path = GGIR
	url = https://github.com/wadpac/ggir
[submodule "GGIRread"]
	path = GGIRread
	url = https://github.com/wadpac/ggirread
